<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.OrderMapper">
    <select id="findAllOrders" resultMap="OrderWithUserResultMap">
        SELECT *
        FROM user_order
                 LEFT JOIN user ON user_order.user_id = user.id
    </select>
    <resultMap type="com.example.demo.entity.Order" id="OrderWithUserResultMap">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="order_date" property="orderDate" jdbcType="TIMESTAMP"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="order_status" property="orderStatus"/>
        <collection property="user" ofType="com.example.demo.entity.User">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="age" property="age"/>
            <result column="gender" property="gender"/>
            <result column="phone" property="phone"/>
        </collection>
    </resultMap>
</mapper>